---
import { cn } from "@utils/utils"

interface Props {
    src: string;
    alt?: string;
    width?: string;
    height?: string;
    title: string;
    description: string;
}

const {src, alt = "icon", width = "32", height = "32", title, description} = Astro.props

// Styles
const li = "list-none m-0 p-0 flex items-start justify-start gap-[clamp(1rem,_2.5vw,_1.25rem)]"
const picture = "w-[clamp(3.75rem,_6vw,_5rem)] h-[clamp(3.75rem,_6vw,_5rem)] m-0 bg-[#f7f7f7] rounded-full border flex justify-center items-center flex-none dark:bg-accent"
const icon = "w-[clamp(1.5rem,_3vw,_2rem)] h-auto block dark:grayscale dark:brightness-[1000]"
const div = "cs-flex"
const h3 = "text-xl leading-[1.2em] font-bold text-left mb-3 text-headerColor dark:text-bodyTextColorWhite"
const p = "text-base leading-[1.5em] text-left m-0 text-bodyTextColor dark:text-bodyTextColorWhite opacity-80"
---
<li class={cn(li)}>
    <picture class={cn(picture)}>
      <img
        class={cn(icon)}
        aria-hidden="true"
        src={src}
        decoding="async"
        alt={alt}
        width={width}
        height={height}
        loading="lazy"
      />
    </picture>
    <div class={cn(div)}>
      <h3 class={cn(h3)}>{title}</h3>
      <p class={cn(p)}>
        {description}
      </p>
    </div>
  </li>