---
import { cn } from "@utils/utils";

interface Props {
  title: string;
  text: string;
  src: string;
}

const { title, text, src } = Astro.props;

// Styles
const item =
  "list-none w-full box-border py-8 px-4 flex flex-col justify-start gap-[clamp(1.5rem,_3vw,_2.5rem)] relative z-1 last:before:hidden before:content-[''] before:w-full before:h-[1px] before:bg-[linear-gradient(to_right,_rgba(255,_255,_255,_0)_0%,_#bababa_50%,_rgba(255,_255,_255,_0)_100%)] before:opacity-60 before:absolute before:block before:bottom-0 before:left-0 first:pt-0 last:pb-0 last:border-none sm:py-0 sm:px-[clamp(1.5rem,_3vw,_3.75rem)] sm:before:w-[1px] sm:before:h-full sm:before:bg-[linear-gradient(to_bottom,_rgba(255,_255,_255,_0)_0%,_#bababa_50%,_rgba(255,_255,_255,_0)_100%)] sm:before:left-auto sm:before:right-0";
const imageGroup = "relative";
const img = "w-12 h-auto";
const flex = "flex flex-col";
const h2 =
  "text-[clamp(1.25rem,_2.5vw,_1.5625rem)] text-left leading-[1.2em] font-bold mb-4 text-headerColor dark:text-bodyTextColorWhite";
const itemText =
  "text-[clamp(0.875rem, _1.6vw,_1rem)] text-left leading-[1.5em] m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
---

<li class={cn(item)}>
  <div class={cn(imageGroup)}>
    <img
      class={cn(img)}
      loading="lazy"
      decoding="async"
      src={src}
      alt="icon"
      width="48"
      height="48"
      aria-hidden="true"
    />
  </div>
  <div class={cn(flex)}>
    <h2 class={cn(h2)}>{title}</h2>
    <p class={cn(itemText)}>
      {text}
    </p>
  </div>
</li>
