---
import { cn } from "@utils/utils";

interface Props {
  title: string;
  text: string[];
}

const { title, text } = Astro.props;

// Styles
const faqItem =
  "list-none w-full border-b border-b-[#e8e8e8] transform transition-all duration-300 dark:border-b-[rgba(255,_255,_255,_0.2)]";
const button =
  "[.cs-faq-item.active_&]:text-primaryLight [.cs-faq-item.active_&]:before:bg-primaryLight [.cs-faq-item.active_&]:before:rotate-[315deg] [.cs-faq-item.active_&]:after:bg-primaryLight [.cs-faq-item.active_&]:after:rotate-[-315deg] text-base leading-[1.2em] text-left font-bold p-[clamp(1rem,_1.3vw,_1.25rem)] border-none bg-transparent text-headerColor block w-full relative transform transition-all duration-300 hover:cursor-pointer before:content-[''] before:w-2 before:h-[0.125rem] before:bg-headerColor before:opacity-100 before:rounded-full before:absolute before:block before:top-[45%] before:right-[1.5rem] before:transform before:rotate-[45deg] before:origin-[left_center] before:transition-transform before:duration-500 after:content-[''] after:w-2 after:h-[0.125rem] after:bg-headerColor after:opacity-100 after:rounded-full after:absolute after:block after:top-[45%] after:right-[1.3125rem] after:transform after:rotate-[-45deg] after:origin-[right_center] after:transition-transform after:duration-500 [.cs-faq-item.active_&]:dark:text-primaryLight [.cs-faq-item.active_&]:dark:before:bg-primaryLight [.cs-faq-item.active_&]:dark:after:bg-primaryLight dark:text-bodyTextColorWhite dark:after:bg-bodyTextColorWhite dark:before:bg-bodyTextColorWhite";
const buttonText = "w-4/5 block";
const itemP =
  "[.cs-faq-item.active_&]:h-auto [.cs-faq-item.active_&]:pt-0 [.cs-faq-item.active_&]:px-[clamp(1rem,_2vw,_1.5rem)] [.cs-faq-item.active_&]:pb-[clamp(1.25rem,_1.3vw,_1.5rem)] [.cs-faq-item.active_&]:opacity-100 text-[clamp(0.875rem,_1.5vw,_1rem)] leading-[1.5em] w-[90%] h-0 m-0 py-0 px-[clamp(1rem,_2vw,_1.5rem)] opacity-0 text-bodyTextColor overflow-hidden transform transition-all duration-300 dark:text-bodyTextColorWhite dark:opacity-80";
---

<li class={cn("cs-faq-item", faqItem)}>
  <button class={cn(button)}>
    <span class={cn(buttonText)}>
      {title}
    </span>
  </button>
  {text.map((p) => <p class={cn(itemP)}>{p}</p>)}
</li>

<style>
    .cs-faq-item.active {
        @apply border-b-primaryLight dark:border-b-primaryLight
    }
</style>
