---
import { cn } from "@utils/utils";

interface Props {
  number: string;
  title: string;
  text: string;
}

const { number, title, text } = Astro.props;

// Styles
const item = "list-none box-border flex flex-row items-start gap-4";
const itemNumber =
  "text-lg leading-[1.2em] font-bold m-0 text-primary flex justify-start items-center gap-2";
const itemWrapper = "w-full flex flex-col items-start gap-2";
const h3 =
  "text-lg leading-[1.2em] font-bold m-0 text-headerColor dark:text-bodyTextColorWhite";
const itemText =
  "text-base leading-[1.5em] m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
---

<li class={cn(item)}>
  <span class={cn(itemNumber)}>{number}</span>
  <div class={cn(itemWrapper)}>
    <h3 class={cn(h3)}>
      {title}
    </h3>
    <p class={cn(itemText)}>
      {text}
    </p>
  </div>
</li>
