---
import { cn } from "@utils/utils";

interface Props {
  topper?: string;
  header: string;
  subheader?: string;
  hasTopper?: boolean;
  hasSubheader?: boolean;
}

const {
  topper,
  header,
  subheader,
  hasTopper = true,
  hasSubheader = true,
} = Astro.props;

// Styles
const content = "text-center w-full flex flex-col items-center";
const topperStyles =
  "text-topperFontSize leading-[1.2em] uppercase text-inherit tracking-[0.1em] font-bold text-primary mb-1 block";
const headerStyles =
  "text-headerFontSize font-black leading-[1.2em] text-inherit max-w-[43.75rem] mb-4 text-headerColor relative dark:text-bodyTextColorWhite";
const subheaderStyles =
  "text-base leading-[1.5em] text-inherit w-full max-w-[40.625rem] m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
---

<div id="cs-content-831" class={cn(content)}>
  {hasTopper && <span class={cn(topperStyles)}>{topper}</span>}
  <h2 class={cn(headerStyles)}>{header}</h2>
  {hasSubheader && <p class={cn(subheaderStyles)}>{subheader}</p>}
</div>
